[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
voluptuous = "*"
lxml = "*"
mechanize = "*"
homeassistant = "*"
beautifulsoup4 = "*"
vol = "*"
cv = "*"

[dev-packages]
pylint = "*"
codecov = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-socket = "*"
pytest-asyncio = "*"
pytest-homeassistant-custom-component = "*"
isort = "*"

[requires]
python_version = "3.10.4"

[scripts]
lint = "pylint custom_components/energa_my_meter"
test = "pytest -vv"
isort = "isort ."
coverage = "coverage"